<%= form_for(@page_view) do |f| %>
  <% if @page_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_view.errors.count, "error") %> prohibited this page_view from being saved:</h2>

      <ul>
      <% @page_view.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :hash_identity %><br>
    <%= f.text_field :hash_identity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
